body {background-color:#3CB371;
	}

	
nav ul li {
display: inline;
margin: 0px 10px;
text-align:center;

}
header h1{
	text-align:center
	font: 'Major Mono Display', monospace;
	color:white;
}
.section-1{

	height: 300px;
	padding-top: 50px;
	text-align: center;
	background: #3CB371 url("boat.jpg") no-repeat scroll center;
	background-size: 1500px 500px;
}
  
.section-2{
	  height: 400px;
      width: 40%;
	padding-top: 50px;
	text-align: center;
	background: #F0F8FF  no-repeat scroll center;

.section-3{
	height: 200px;
      width: 40%;
	padding-top: 50px;
	text-align: center;
	background: #F0F8FF  no-repeat scroll center;
}

