header {
        text-align: center;
}
main{
	text-align:center;
}#quiz-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	flex-grow: 1;
	align-items: center; 
}

.question {
	background-color: lightblue
	font-size: 24px
}

@media only screen and (max-width: 800px) {
	#quiz-wrapper {
		flex-direction: column;
		margin-left: 100px
	}
}

#title {
	background-color: #38f5ff;
	display: flex;
	justify-content: center;
}